table,th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
body{
    margin-top: 80px;
    margin-bottom : 0;

}
p{
    font-size: larger;
}
a{
    color: #064985;
}