table,th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
body{
    margin-top:0;
    margin-bottom : 0;

}
p{
    font-size: larger;
}
a{
    color: #064985;
}
video::-webkit-media-controls-timeline {
    display: none;
}
.video{
    background-color: #212529;
    margin: 0;
    padding: 0;
}